## The following requirements were added by pip --freeze:
beautifulsoup4==4.3.2
PyMySQL==0.6.2
pillow==2.6.1
Twisted==14.0.2
##apns==2.0
apns-clerk==0.1.1
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
cffi==0.8.6
cryptography==0.6.1
distribute==0.7.3
docutils==0.12
httplib2==0.9
lxml==3.4.1
meld3==1.0.0
numpy==1.9.1
python-oauth2==0.7.0
oauthlib==0.7.2
pyOpenSSL==0.14
pyapns==0.4.1
pycparser==2.10
pyproj==1.9.3
git+https://github.com/ValCapri/python-gcm.git@python3#egg=python-gcm
python3-memcached==1.51
twitter==1.15.0
requests==2.4.3
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.8.0
git+https://github.com/Supervisor/supervisor.git#egg=supervisor
tornado==4.0.2
Tornado-MySQL==0.2
zope.interface==4.1.1
