<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>BeRoads - Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/icon.png" />
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/jquery.pnotify.default.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
	#web_subscribers_map img {
		max-width: none;
	}
	#apple_subscribers_map img {
		max-width : none;
	}
	#google_subscribers_map img {
		max-width : none;
	}
    </style>

</head>
<body>

<div id="navigation_bar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">BeRoads - DashBoard</a>
            <ul class="nav pull-right">
                <li><a href="#" style="color:white"><i class="icon-user icon-white"></i>&nbsp;&nbsp;{{ username }} </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="content">
<div class="span12" >
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Status</a></li>
        <li><a href="#tab2" data-toggle="tab">Subscribers</a></li>
        <li><a href="#tab3" data-toggle="tab">Webcams</a></li>
        <li><a href="#tab4" data-toggle="tab">Analytics</a></li>
        <li><a href="#tab5" data-toggle="tab">Logs</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

                <!-- Example row of columns -->
                <div class="row">
                    <div class="span6">
                        <h2>Deployement</h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Command</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>HTML5 app (production)</td>
                                <td><a href="http://dev.beroads.com">http://dev.beroads.com</a></td>
                                <td><button id="deploy_mobile_production" class="btn btn-small btn-info disabled" onclick="deploy_mobile('production');" type="button">Deploy</button></td>
                            </tr>
                            <tr>
                                <td>HTML5 app (testing)</td>
                                <td><a href="http://m.beroads.com">http://m.beroads.com</a></td>
                                <td><button id="deploy_mobile_testing" class="btn btn-small btn-info disabled" onclick="deploy_mobile('testing');" type="button">Deploy</button></td>
                            </tr>
                            <tr>
                                <td>The DataTank</td>
                                <td><a href="http://data.beroads.com">http://data.beroads.com</a></td>
                                <td><button id="deploy_tdt" class="btn btn-small btn-info disabled" onclick="deploy_tdt();"type="button">Deploy</button></td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="http://beroads.com">http://beroads.com</a></td>
                                <td><button id="deploy_website" class="btn btn-small btn-info disabled" onclick="deploy_website();" type="button">Deploy</button></td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                    <div class="span6">
                        <h2>Sources status</h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for source in sources %}

                            <tr>
                                <td>{{ source['name'] }}</td>
                                <td><a href="{{ source['url'] }}">{{ source['url'] }}</a></td>
                                {% if source['status'] == 200 %}
                                    <td><span class="label label-success">Alive ({{source['response_time']}} s.)</span></td>
                                {% else %}
                                    <td><span class="label label-important">Down</span></td>
                                {% end %}
                            </tr>
                            {% end %}
                            </tbody>

                        </table>
            </span>
                    </div>
                    </div>
                <div class="row"><hr/></div>

        </div>
        <div class="tab-pane" id="tab2">

        <div class="row">

        <div id="notificationChart" style="width:100%;height: 300px;"></div>

        
        </div>
        <div class="row">
        <hr />
        </div>

        <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#web_subscribers" data-toggle="tab">Web</a></li>
            <li><a href="#google_subscribers" data-toggle="tab">Google</a></li>
            <li><a href="#apple_subscribers" data-toggle="tab">Apple</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="web_subscribers">
            <div class="row">
                <div class="span6"><h2>Traffic feed channels</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subscribers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in web_subscribers.items() %}

                        <tr>
                            <td>{{ key.upper()}}</td>
                            <td>{{ len(value) }}</td>
                        </tr>
                        {% end %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="row">
                <hr/>
            </div>
                    <div id="web_subscribers_map" style="width:100%;height:600px;"></div>

            </div>
            <div class="tab-pane" id="google_subscribers">
            <div class="row">
                <div class="span6"><h2>Google subscribers</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subscribers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in google_subscribers.items() %}

                        <tr>
                            <td>{{ key.upper() }}</td>
                            <td>{{ len(value) }}</td>
                        </tr>
                        {% end %}
                        </tbody>

                    </table>
                </div>

            </div>
                <div class="row">
                    <hr/>
                </div>
                <div id="google_subscribers_map" style="width:100%;height:600px;"></div>
                </div>
            <div class="tab-pane" id="apple_subscribers">
            <div class="row">
                <div class="span6"><h2>Apple subscribers</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subscribers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in apple_subscribers.items() %}

                        <tr>
                            <td>{{ key.upper() }}</td>
                            <td>{{ len(value) }}</td>
                        </tr>
                        {% end %}
                        </tbody>

                    </table>
                </div>
            </div>
                <div class="row">
                    <hr/>
                </div>
                
                        <div id="apple_subscribers_map" style="width:100%;height:600px;"></div>
  

                </div>

        </div>
        </div>
        </div>
        <div class="tab-pane" id="tab3">

            <div class="row" id="webcams_grid">

        </div>
            </div>
        <div class="tab-pane" id="tab4">

            <div class="row">
                <div class="span12">


                    <select id="package" class="selectpicker pull-left">
                        <option value="all">All</option>
                        {% for package in packages.keys() %}
                        <option>{{ package }}</option>
                        {% end %}
                    </select>

                    <select id="resource" class="selectpicker pull-left">

                    </select>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" onclick="loadToday();">Today</button>
                        <button type="button" class="btn btn-default" onclick="loadYesterday();">Yesterday</button>
                        <button type="button" class="btn btn-default" onclick="loadLastMonth();">Last 30 days</button>
                        <button type="button" class="btn btn-default" onclick="loadLastYear();">Last year</button>
                    </div>




                    </div>
                </div>
            <div class="row">
                <hr/>
                </div>
            <div class="row">
                <div class="span12">
                    <h2>Hits</h2>
                    <div id="hitsChart" style="height: 300px; width: 100%;"></div>
                </div>

            </div>

            <div class="row">
            <hr/>
            </div>
            <br />
            <br />
            <div class="row">

                <div class="span4">
                    <div id="deviceChart" style="height: 300px; width: 100%;"></div>
                </div>
                <div class="span4">
                    <div id="osChart" style="height: 300px; width: 100%;"></div>
                </div>
                <div class="span4">
                    <div id="languageChart" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <br />
            <br />


            <hr/>

            <div class="row">
                <div class="span12">
                    <h2>HeatMap</h2>
                </div>
            </div>

            <div class="row">
                <div id="heatmapArea" class="span12" style="padding: 0 0 0 0;height:25pc;cursor:pointer;"></div>
            </div>
        </div>

        <div class="tab-pane" id="tab5">
                <div class="row">
                    <div class="span12">
                        <h2>Console [beroads.log]</h2>
            <pre id="logs" style="height:20pc; overflow-y: scroll;">

</pre>

                    </div>
                </div>

        </div>
    </div>
</div>

</div>

</div>


<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.pnotify.min.js"></script>
<script type="text/javascript" src="/static/js/ext-core.js"></script>
<script type="text/javascript" src="/static/js/ext-chart.js"></script>
<script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=visualization&sensor=false"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>

<script type="text/javascript">

    var heatMap, webSubscribersMap, googleSubscribersMap, appleSubscribersMap, map;

    var loadToday = function() {
        var from = new Date();
        from.setHours(0);
        var to = new Date();
        to.setHours(23);

        loadHitsChart('hourly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadNotificationsChart('hourly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000));
        loadLanguagesPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadDevicePie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadOSPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadHeatMap(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), 'IWay', 'TrafficEvent');
    };
    var loadYesterday = function() {
        var from = new Date();
        from.setDate(from.getDate()-1);
        from.setHours(0);
        var to = new Date();
        to.setDate(to.getDate()-1);
        to.setHours(23);

        loadHitsChart('hourly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadNotificationsChart('hourly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000));
        loadLanguagesPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadDevicePie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadOSPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadHeatMap(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), 'IWay', 'TrafficEvent');
    };
    var loadLastMonth = function() {
        var from = new Date();
        from.setDate(from.getDate()-30);
        var to = new Date(new Date().getFullYear(), 11, 31);

        loadHitsChart('daily', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadNotificationsChart('daily', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000));
        loadLanguagesPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadDevicePie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadOSPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadHeatMap(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), 'IWay', 'TrafficEvent');
    };
    var loadLastYear = function() {
        var from = new Date(new Date().getFullYear(), 0, 1);
        var to = new Date(new Date().getFullYear(), 11, 31);

        loadHitsChart('monthly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadNotificationsChart('monthly', Math.round(from.getTime()/1000), Math.round(to.getTime()/1000));
        loadLanguagesPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadDevicePie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadOSPie(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), $('#package').val(), $('#resource').val());
        loadHeatMap(Math.round(from.getTime()/1000), Math.round(to.getTime()/1000), 'IWay', 'TrafficEvent');
    };

    var deploy_tdt = function(){
        try {
            $('#deploy_tdt').html('Deploying ...');
            var url = '/deployment/tdt';
            $.getJSON(url)
                    .done(function(data) {
                        if(data.success){
                            $.pnotify({
                                title: 'TDT Deployment',
                                text: 'TDT correctly deployed.',
                                type: 'info'
                            });
                        }else{
                            $.pnotify({
                                title: 'TDT Deployment',
                                text: 'An error occured while deploying TDT.',
                                type: 'error'
                            });
                        }

                    })
                    .fail(function(){
                        $.pnotify({
                            title: 'TDT Deployment',
                            text: 'An error occured while deploying TDT.',
                            type: 'error'
                        });
                    })
                    .complete(function(){
                        $('#deploy_tdt').html('Deploy');
                    });
        }catch(err){
            $.pnotify({
                title: 'TDT Deployment',
                text: 'An error occured while deploying TDT.',
                type: 'error'
            });
        }
    };

    var deploy_mobile = function(deployment_type) {
        try {
            $('#deploy_mobile_'+deployment_type).html('Deploying ...');
            var url = '/deployment/mobile';
            $.getJSON(url,
                    {
                        deployment_type : deployment_type
                    })
                    .done(function(data) {
                        if(data.success){
                            $.pnotify({
                                title: 'Mobile deployment',
                                text: 'Mobile ('+deployment_type+') correctly deployed.',
                                type: 'info'
                            });
                        }else{
                            $.pnotify({
                                title: 'Mobile Deployment',
                                text: 'An error occured while deploying Mobile ('+deployment_type+').',
                                type: 'error'
                            });
                        }

                    })
                    .fail(function(){
                        $.pnotify({
                            title: 'Mobile Deployment',
                            text: 'An error occured while deploying Mobile ('+deployment_type+').',
                            type: 'error'
                        });
                    })
                    .complete(function(){
                        $('#deploy_mobile_'+deployment_type).html('Deploy');
                    });
        }catch(err){
            $.pnotify({
                title: 'Mobile Deployment',
                text: 'An error occured while deploying Mobile ('+deployment_type+').',
                type: 'error'
            });
        }
    };

    var deploy_website = function() {
        try {
            $('#deploy_website').html('Deploying ...');
            var url = '/deployment/website';
            $.getJSON(url,
                    {
                        deployment_type : deployment_type
                    })
                    .done(function(data) {
                        if(data.success){
                            $.pnotify({
                                title: 'Website deployment',
                                text: 'Website correctly deployed.',
                                type: 'info'
                            });
                        }else{
                            $.pnotify({
                                title: 'Website Deployment',
                                text: 'An error occured while deploying website.',
                                type: 'error'
                            });
                        }

                    })
                    .fail(function(){
                        $.pnotify({
                            title: 'Website Deployment',
                            text: 'An error occured while deploying website.',
                            type: 'error'
                        });
                    })
                    .complete(function(){
                        $('#deploy_website').html('Deploy');
                    });
        }catch(err){
            $.pnotify({
                title: 'Website Deployment',
                text: 'An error occured while deploying website.',
                type: 'error'
            });
        }
    };
    var getFrequency = function() {
        var frequency;
        $('#frequency').find('li').each(function(){
            var current = $(this);
            if(current.hasClass('active')){
                frequency = current.attr('value');
            }
        });
        return frequency;
    };

    var buildWebSubscribersMap = function(data){

        var brussels = new google.maps.LatLng(50.50871, 4.20361);
	
        webSubscribersMap = new google.maps.Map(document.getElementById('web_subscribers_map'), {
            center: brussels,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var markers = [];

        $.each(data, function(key, val) {
            $.each(data[key], function(key2, val2) {
                var myLatLng = new google.maps.LatLng(val2.coords.latitude, val2.coords.longitude);
                markers.push(
                    new google.maps.Marker({
                        position : myLatLng,
                        map : webSubscribersMap,
                        title : val2.uuid
                    })
                );
            });
        });
        var mc = new MarkerClusterer(webSubscribersMap, markers);
    };

    var buildAppleSubscribersMap = function(data){

        var brussels = new google.maps.LatLng(50.50871, 4.20361);

        appleSubscribersMap = new google.maps.Map(document.getElementById('apple_subscribers_map'), {
            center: brussels,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var markers = [];
	    $.each(data, function(key, val) {
            $.each(data[key], function(key2, val2) {
                markers.push(
                    new google.maps.Marker({
                        position : new google.maps.LatLng(val2.coords.latitude, val2.coords.longitude),
                        map : appleSubscribersMap,
                        title : val2.device_token
                }));
            });
        });
        var mc = new MarkerClusterer(appleSubscribersMap, markers);
    };

    var buildGoogleSubscribersMap = function(data){

        var brussels = new google.maps.LatLng(50.50871, 4.20361);

        googleSubscribersMap = new google.maps.Map(document.getElementById('google_subscribers_map'), {
            center: brussels,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var markers = [];
        $.each(data, function(key, val) {
            $.each(data[key], function(key2, val2) {
		        markers.push(
                        new google.maps.Marker({
			                position : new google.maps.LatLng(val2.coords.latitude, val2.coords.longitude),
			                map : googleSubscribersMap,
			                title : val2.registration_id
		                })
                );
	        });
        });
        var mc = new MarkerClusterer(googleSubscribersMap, markers);

    };



    /**
     *
     * @param startDate
     * @param endDate
     * @param package
     * @param resource
     */
    var buildHeatMap = function(data){

            var heatmapData = [];
            var brussels = new google.maps.LatLng(50.50871, 4.20361);

            map = new google.maps.Map(document.getElementById('heatmapArea'), {
                center: brussels,
                zoom: 7,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            $.each(data, function(key, val) {
                heatmapData.push(new google.maps.LatLng(val.lat, val.lng));
            });

            heatMap = new google.maps.visualization.HeatmapLayer({
                data: heatmapData,
                radius : 15,
                opacity : 0.8

            });
            heatMap.setMap(map);

    };

    /**
     *
     * @param frequency
     * @param package
     * @param resource
     */
    var loadHitsChart = function(frequency, startDate, endDate, package, resource){

        try {
            var intervalTypes = {'daily' : 'day', 'weekly' : 'week', 'monthly' : 'month', 'yearly' : 'year'};
            var valueFormatStrings = {'hourly' : 'HH:mm', 'daily' : 'DD-MM-YYYY', 'weekly' : 'MMM', 'monthly' : 'MMM', 'yearly' : 'YYYY'};
            var url = '/analytics/hit/'+package+'/'+resource+'/'+frequency+'?';
            $.getJSON(url,
                    {
                        start_date : startDate,
                        end_date : endDate
                    })
                    .done(function(data) {
                        if(data.length>0){
                            var dataPoints = [];

                            $.each(data, function(index, value){

                                var hour = value['name'].split(' ')[0].split(':')[0];
                                var day = value['name'].split(' ')[1].split('-')[0];
                                var month = value['name'].split(' ')[1].split('-')[1]-1;
                                var year = value['name'].split(' ')[1].split('-')[2];


                                var date = new Date(year, month, day, hour);
                                console.log(value['name'].split(' ')[1]);
                                console.log(hour);
                            if(frequency == "hourly"){
                                dataPoints.push({x : date, y : value['total']});
                            }
                            else if(frequency == "daily"){
                                dataPoints.push({x : date, y : value['total']});
                              }
                              else if(frequency == "weekly"){
                                dataPoints.push({x : date, y : value['total']});
                              }
                              else if(frequency == "monthly"){
                                dataPoints.push({x : date, y : value['total']});
                              }else if(frequency == "yearly"){
                                dataPoints.push({x : date, y : value['total']});
                              }
                                
                            });
                            var chart = new CanvasJS.Chart("hitsChart",
                                {
                                  theme: "theme2",
                                  title:{
                                    text: ""
                                  },
                                  axisX: {
                                    valueFormatString: valueFormatStrings[frequency],
                                    interval:1,
                                    intervalType: intervalTypes[frequency]
                                    
                                  },
                                  axisY:{
                                    includeZero: false
                                    
                                  },
                                  data: [
                                  {        
                                    type: "line",
                                    //lineThickness: 3,        
                                    dataPoints: dataPoints
                                  }
                                  
                                  
                                  ]
                                });
                              chart.render();
                        }else{
                            $('#hits_line').html("<div class='alert'><strong>Empty ! </strong>" +
                                    "Not enough data, consider modifying dates parameters</div>");
                        }
                    })
                    .fail(function(){$('#hits_line').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>");});
        }catch(err){
            $('#hits_line').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };


    /**
     *
     * @param frequency
     */
    var loadNotificationsChart = function(frequency, startDate, endDate){

        try {
            var url = '/analytics/notification/'+frequency+'?';
            $.getJSON(url,
                    {
                        start_date : startDate,
                        end_date : endDate
                    })
                    .done(function(data) {
                        console.log(data);
                        if(data.length>0){
                           var dataSet = [];

                            $.each(data, function(index, value){
                                console.log(data);
                              dataSet.push({        
                                  type: "line",
                                  showInLegend: true,
                                  lineThickness: 2,
                                  name: "Visits",
                                  markerType: "square",
                                  color: "#F08080",
                                  dataPoints: []
                                });
                              $.each(data[index], function(index2, value2){
                                dataSet[index].name = index2;
                                $.each(data[index][index2], function(index3, value3){
                                    console.log(value3);
                                    var hour = value3['name'].split(' ')[0].split(':')[0];
                                    var day = value3['name'].split(' ')[1].split('-')[0];
                                    var month = value3['name'].split(' ')[1].split('-')[1]-1;
                                    var year = value3['name'].split(' ')[1].split('-')[2];
                                    var date = new Date(year, month, day, hour);
                                  dataSet[index].dataPoints.push({x : date, y : value3['total']});
                              });
                              })
                            });
                            var chart = new CanvasJS.Chart("notificationChart",
                              {

                                title:{
                                  text: "Notifications",
                                  fontSize: 30
                                },
                                axisX:{

                                  gridColor: "Silver",
                                  tickColor: "silver",
                                  valueFormatString: "HH:mm DD-MM-YYYY"

                                },                        
                                                  toolTip:{
                                                    shared:true
                                                  },
                                theme: "theme2",
                                axisY: {
                                  gridColor: "Silver",
                                  tickColor: "silver"
                                },
                                legend:{
                                  verticalAlign: "center",
                                  horizontalAlign: "right"
                                },
                                data: dataSet
                              });

                        chart.render();
                        }else{
                            $('#notificationChart').html("<div class='alert'><strong>Empty ! </strong>" +
                                    "Not enough data, consider modifying dates parameters</div>");
                        }
                    })
                    .fail(function(){$('#notificationChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>");});
        }catch(err){
            $('#notificationChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };



    /**
     *
     * @param startDate
     * @param endDate
     * @param package
     * @param resource
     */
    var loadDevicePie = function(startDate, endDate, package, resource){

        try{
            var url = '/analytics/device/'+package+'/'+resource+'?';
            $.getJSON(url,
                    {
                        start_date : startDate,
                        end_date : endDate
                    })
                    .done(function(data) {
                        console.log(data);
                        if(data.length>0){
                            var dataPoints = [];
                            var total = 0;
                            $.each(data, function(index, value){
                              total += value['total'];
                            });

                            $.each(data, function(index, value){
                              var percentage = ((value['total']/total)*100).toFixed(2);
                              if(percentage > 5){
                                dataPoints.push({ y : value['total'], label : value['name'] + " " + percentage + " %", legendText : value['name']});
                              }
                              
                            })
                            var chart = new CanvasJS.Chart("deviceChart",
                            {
                              title:{
                                text: "Mobile"
                              },          
                              data: [
                              {        
                                type: "doughnut",
                                startAngle: 60,                          
                                toolTipContent: "{y} hits",          

                                showInLegend: true,
                                dataPoints: dataPoints
                              }
                              ]
                            });
                            chart.render();
                        }else{
                            $('#deviceChart').html("<div class='alert'><strong>Empty ! </strong>" +
                                    "Not enough data, consider modifying dates parameters</div>");
                        }
                    })
                    .fail(function(){$('#deviceChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>");});
        }catch(err){
            $('#deviceChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }

    };

    /**
     *
     * @param startDate
     * @param endDate
     * @param package
     * @param resource
     */
    var loadOSPie = function(startDate, endDate, package, resource){

        try{
            var url = '/analytics/os/'+package+'/'+resource+'?';
            $.getJSON(url,
                    {
                        start_date : startDate,
                        end_date : endDate
                    })
                    .done(function(data) {
                        console.log(data);
                        if(data.length>0){
                            var dataPoints = [];
                            var total = 0;
                            $.each(data, function(index, value){
                              total += value['total'];
                            });

                            $.each(data, function(index, value){
                              var percentage = ((value['total']/total)*100).toFixed(2);
                              if(percentage > 5){
                                dataPoints.push({ y : value['total'], label : value['name'] + " " + percentage + " %", legendText : value['name']});
                              }
                              
                            })
                            var chart = new CanvasJS.Chart("osChart",
                            {
                              title:{
                                text: "OS"
                              },          
                              data: [
                              {        
                                type: "doughnut",
                                startAngle: 60,                          
                                toolTipContent: "{y} hits",          

                                showInLegend: true,
                                dataPoints: dataPoints
                              }
                              ]
                            });
                            chart.render();
                        }else{
                            $('#osChart').html("<div class='alert'><strong>Empty ! </strong>" +
                                    "Not enough data, consider modifying dates parameters</div>");
                        }
                    })
                    .fail(function(){$('#osChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>");});
        }catch(err){
            $('#osChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };



    /**
     *
     * @param startDate
     * @param endDate
     * @param package
     * @param resource
     */
    var loadLanguagesPie = function(startDate, endDate, package, resource){

        try{
            var url = '/analytics/language/IWay/TrafficEvent?';
            $.getJSON(url,
                    {
                        start_date : startDate,
                        end_date : endDate
                    })
                    .done(function(data) {
                        console.log(data);
                        if(data.length>0){
                            var dataPoints = [];
                            var total = 0;
                            $.each(data, function(index, value){
                              total += value['total'];
                            });

                            $.each(data, function(index, value){
                              var percentage = ((value['total']/total)*100).toFixed(2);
                              dataPoints.push({ y : value['total'], label : value['name'] + " " + percentage + " %", legendText : value['name']});
                              
                              
                            })
                            var chart = new CanvasJS.Chart("languageChart",
                            {
                              title:{
                                text: "Language"
                              },          
                              data: [
                              {        
                                type: "doughnut",
                                startAngle: 60,                          
                                toolTipContent: "{y} hits",          

                                showInLegend: true,
                                dataPoints: dataPoints
                              }
                              ]
                            });
                            chart.render();
                        }else{
                            $('#languageChart').html("<div class='alert'><strong>Empty ! </strong>" +
                                    "Not enough data, consider modifying dates parameters</div>");
                        }
                    })
                    .fail(function(){$('#languageChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>");});
        }catch(err){
            $('#languageChart').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };

    var loadHeatMap = function(startDate, endDate, package, resource) {

        try{
            var url = '/analytics/coordinates/'+package+'/'+resource+'?';
            $.getJSON(url,
                    {
                        start_date :startDate,
                        end_date : endDate
                    }
            )
            .done(function(data) {

                if(data.length>0){
                    $('#heatmapArea').html('');
                    if(heatMap == undefined || heatMap == null){
                        buildHeatMap(data);
                    }else{
                        heatMap.setMap(null);
                        var heatMapData = [];
                        $.each(data, function(key, val) {
                            heatMapData.push(new google.maps.LatLng(val.lat, val.lng));
                        });
                        heatMap.data = heatMapData;
                        heatMap.setMap(map);
                    }
                }else{
                    $('#heatmapArea').html("<div class='alert'><strong>Empty ! </strong>" +
                            "Not enough data, consider modifying dates parameters</div>");
                }
            })
            .fail(function(){$('#heatmapArea').html($('#heatmapArea').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>"));});
        }catch(err){
            $('#heatmapArea').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };

    var loadWebSubscribersMap = function() {

        try{
            var url = '/analytics/subscribers/web';
            $.getJSON(url)
                    .done(function(data) {
                            $('#web_subscribers_map').html('');
                            if(webSubscribersMap == undefined || heatMap == null){
                                buildWebSubscribersMap(data);
                            }else{
				webSubscribersMap.setMap(null);
			    	buildWebSubscribersMap(data);
			    }                   	
                    })
                    .fail(function(){$('#web_subscribers_map').html($('#web_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>"));});
        }catch(err){
            $('#web_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };

    var loadGoogleSubscribersMap = function() {

        try{
            var url = '/analytics/subscribers/google';
            $.getJSON(url)
                    .done(function(data) {

                            $('#google_subscribers_map').html('');
                            if(googleSubscribersMap == undefined || heatMap == null){
                                buildGoogleSubscribersMap(data);
                            }else{
                                googleSubscribersMap.setMap(null);
                               buildGoogleSubscribersMap(data);
			     }
                    })
                    .fail(function(){$('#google_subscribers_map').html($('#google_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>"));});
        }catch(err){
            $('#google_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };

    var loadAppleSubscribersMap = function() {

        try{
            var url = '/analytics/subscribers/apple';
            $.getJSON(url)
                    .done(function(data) {

                            $('#apple_subscribers_map').html('');
                            if(appleSubscribersMap == undefined || heatMap == null){
                                buildAppleSubscribersMap(data);
                            }else{
                                appleSubscribersMap.setMap(null);
                                    buildAppleSubscribersMap(data);
			 }
                    })
                    .fail(function(){$('#apple_subscribers_map').html($('#apple_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>"));});
        }catch(err){
            $('#apple_subscribers_map').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };


    var reloadInterface = function() {
        /**
         * Reload every graph / chart of the analytics tab
         * with currently selected values (datepickers, resource and package)
         * @type {number}
         */
        var today = new Date();
        today.setDate(today.getDate()-7);

        var today_end = new Date();
        today_end.setDate(today_end.getDate()-6);

        loadWebSubscribersMap();
        loadGoogleSubscribersMap();
        loadAppleSubscribersMap();
        loadHitsChart('hourly', Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000), $('#package').val(), $('#resource').val());
        loadNotificationsChart('hourly', Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000));
        loadLanguagesPie(Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000), $('#package').val(), $('#resource').val());
        loadDevicePie(Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000), $('#package').val(), $('#resource').val());
        loadOSPie(Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000), $('#package').val(), $('#resource').val());
        loadHeatMap(Math.round(today.getTime()/1000), Math.round(today_end.getTime()/1000), $('#package').val(), $('#resource').val());
    };

    var loadWebcams = function(){
        /**
         * Fetch webcams data from BeRoads TDT and display them in a bootstrap thumbnails grid.
         * Images updates themselves every 2 minutes.
         * @type {string}
         */
        var webcamsGrid = "<ul class='thumbnails'>";

        try{
            var url = 'http://data.beroads.com/IWay/Camera.json';
            $.getJSON(url)
                    .done(function(data) {

                        $.each(data.Camera.item, function(k,v){
                            webcamsGrid += "<li class='span3'><div class='thumbnail'>" +
                                    "<img id='webcam"+ v.id+ "' src='"+v.img+"' " +
                                    "onload=\"setTimeout(function(){$('#webcam"+ v.id+"').src='"+v.img+"?'+new Date().getMilliseconds();}, 60000)\" alt='"+v.city+"'>" +
                                    "<div class='caption'><p>"+ v.city+"</p></div></div></li>";
                        });

                        webcamsGrid += "</ul>"
                        $('#webcams_grid').html(webcamsGrid);
                    })
                    .fail(function(){$('#webcams_grid').html($('#webcams_grid').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                            "Seems an error occured</div>"));});
        }catch(err){
            $('#webcams_grid').html("<div class='alert alert-error'><strong>Oops! </strong>" +
                    "Seems an error occured</div>");
        }
    };

    $(document).ready(function() {

        //setup websocket connection for log file
        socket = new WebSocket('ws://0.0.0.0:8080/analytics/logs');
        socket.onopen = function() { console.log('socket ouverte'); };
        socket.onclose = function() { console.log('socket fermée'); };
        socket.onerror = function() { console.log('Une erreur est survenue'); };
        socket.onmessage = function(msg){
            $("#logs").append(msg.data);
        };
        window.onbeforeunload = function() {
            socket.onclose = function () {}; // disable onclose handler first
            socket.close()
        };

        //bind bootstrap custom elements
        $('.carousel').carousel();

        $('ul.nav.nav-pills li a').click(function() {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });

        //package and resources selector
        $('#resource').append('<option value="all">All</option>').val('all');
        $('#resource').prop('disabled',true);

        $('#resource').change(function(){
            reloadInterface();
        });
        $('#package').change(function(){
            var packages = {{ packages }};
            $('#resource')
                    .find('option')
                    .remove()
                    .end();

            if($(this).val()=="all"){
                $('#resource').prop('disabled',true);
            }else{
                $('#resource').prop('disabled',false);
                $.each(packages[$(this).val()], function(key, value){
                    $('#resource').append('<option value="'+value+'">'+value+'</option>')
                            .val(value);
                });
                $('#resource').append('<option value="all">All</option>')
                        .val('all');
            }
            reloadInterface();
        });

        reloadInterface();
        loadWebcams();

    });
</script>

</body>
</html>
